# Dependencies
node_modules/

# Environment
.env
.env.local.example

# Hardhat
contracts/cache/
contracts/artifacts/

# Frontend
.next/
out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
platform-*.log

# Temp
.tmp/
